@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
  font-family: 'Alegreya Sans', sans-serif;
}

/* Navbar Styling */
.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-item .nav-link {
  font-weight: 500;
}

.navbar .nav-item .btn {
  font-weight: 500;
}

/* Parallax Sections */
#parallax-world-of-ugg .parallax-one,
#parallax-world-of-ugg .parallax-two,
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#parallax-world-of-ugg .parallax-one {
  background-image: url(https://glr.cms.araweb.nl/sites/default/files/assets/images/2021/technology-1283624_1920.jpg);
  background-position: center center;
}

#parallax-world-of-ugg .parallax-two {
  background-image: url(https://storage.googleapis.com/production-startlogic-v1-0-5/285/403285/PUM6xM2I/1f8ca6df8c3e48a69954c1674be1cc14);
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  background-image: url(https://assets.reedpopcdn.com/unity-logo_teCooZK.jpg/BROK/thumbnail/1600x900/quality/100/unity-logo_teCooZK.jpg);
  background-position: center center;
}

/* Title and Content Styling */
#parallax-world-of-ugg .title {
  text-align: center;
  color: white;
}

#parallax-world-of-ugg .title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

/* Footer Styling */
.footer {
  background-color: #292c2f;
  color: #bbb;
  padding-top: 30px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 300px;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #aaa;
  border-bottom: 1px dotted #999;
}

footer .form-control {
  background-color: #1f2022;
  color: #d1d2d2;
}


/* Taller footer on small screens */
@media (max-width: 567em) {
  body {
    margin-bottom: 700px;
  }

  .footer {
    height: 700px;
  }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}