@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#kleur{
    border: solid rgb(255, 255, 255) 2px;
    width: 100%;
    height: 200px;
    margin: 0;
}
#kleur2 , #kleur3 , #kleur4 , #kleur5 , #kleur6 , #kleur7 , #kleur8 , #kleur9 ,#kleur10 ,#kleur11, #kleur12{
    border: solid rgb(255, 255, 255) 2px;
    width: 100%;
    height: 200px;
}

img{
    width: 450px;
    height: 350px;
    margin-left: 40%;
}

#start{
    margin-bottom: 60%;
    }
#box , #box2 , #box3 ,#box4 , #box5 ,#box6 , #box7 , #box8 ,#box9 , #box10 , #box11, #box12{
margin-bottom: 60%;
}

input[type=button]{
    width: 40%;
    height: 75px;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 5%;
  
    float: left;
}
#begin{
    width: 40%;
    height: 75px;
    margin-top: 3%;
    margin-left: 30%;
    float: left;
}
#logo{
    width: 50%;
    height: auto;
   margin-left: 25%;
}
.score{
    height: 50px;
    width: 50px;
    margin-left: 1%;
  
}
#cheat{
    width: 50%;
    height: auto;
    z-index: 10;
    float: left;
    margin: 0%;
    margin-left: 25%;
}